.beer {
  border: 2px solid rgb(4, 4, 73);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;

  &__size {
    width: 75px;
    height: 150px;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}