.beer {
  border: 2px solid #830503;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  &:hover {
    background-color: #ca9333;
    box-shadow: 4px 4px 4px #4e4d4d;
  }

  &__size {
    width: 75px;
    height: 150px;
  }
  &__description {
    max-height: 150px;  
    overflow-y: scroll;
  }
  p::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  p::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  }
}